/* line 20, C:/Users/Josue/Desktop/gridlocked/sass/_base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 25, C:/Users/Josue/Desktop/gridlocked/sass/_base.scss */
*,
*::after,
*::before {
  box-sizing: inherit;
}

/* line 31, C:/Users/Josue/Desktop/gridlocked/sass/_base.scss */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: black;
  font-family: 'Lora', serif;
}

@media (max-width: 600px) {
  /* line 31, C:/Users/Josue/Desktop/gridlocked/sass/_base.scss */
  html {
    font-size: 37.5%;
  }
}

/* line 1, C:/Users/Josue/Desktop/gridlocked/sass/_layout.scss */
.container {
  background-color: #000;
  display: block;
  margin: 0 auto;
  width: 100%;
  color: white;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  text-align: center;
  grid-template-columns: repeat(3, 1fr) 20%;
  grid-template-rows: 30rem 25rem 55rem 30rem;
}

/* line 13, C:/Users/Josue/Desktop/gridlocked/sass/_layout.scss */
.container > * {
  background-size: cover;
  background-position: center;
}

/* line 21, C:/Users/Josue/Desktop/gridlocked/sass/_layout.scss */
.container .header {
  grid-column: 1 / -1;
  background-image: url("https://images.pexels.com/photos/681987/pexels-photo-681987.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  display: flex;
}

/* line 27, C:/Users/Josue/Desktop/gridlocked/sass/_layout.scss */
.container .header__title {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  padding: 2rem;
  text-align: center;
  transform: skew(0);
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

@media (max-width: 600px) {
  /* line 27, C:/Users/Josue/Desktop/gridlocked/sass/_layout.scss */
  .container .header__title {
    font-size: 2rem !important;
  }
}

/* line 44, C:/Users/Josue/Desktop/gridlocked/sass/_layout.scss */
.container .header__title:hover {
  transform: skew(10deg);
  font-size: 9.25rem;
}

/* line 50, C:/Users/Josue/Desktop/gridlocked/sass/_layout.scss */
.container .small-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}

/* line 56, C:/Users/Josue/Desktop/gridlocked/sass/_layout.scss */
.container .small-box--1 {
  grid-column: 1 / 2;
  background-image: url("https://images.pexels.com/photos/573298/pexels-photo-573298.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

/* line 61, C:/Users/Josue/Desktop/gridlocked/sass/_layout.scss */
.container .small-box--2 {
  grid-column: 2 / 3;
  background-image: url("https://images.pexels.com/photos/1081685/pexels-photo-1081685.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

/* line 66, C:/Users/Josue/Desktop/gridlocked/sass/_layout.scss */
.container .small-box--3 {
  grid-column: 3 / 4;
  background-image: url("https://images.pexels.com/photos/206527/pexels-photo-206527.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

/* line 70, C:/Users/Josue/Desktop/gridlocked/sass/_layout.scss */
.container .small-box--1, .container .small-box--2, .container .small-box--3 {
  transform: scale(1);
  transition: all 0.3s;
  -webkit-filter: grayscale(0);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0);
}

/* line 78, C:/Users/Josue/Desktop/gridlocked/sass/_layout.scss */
.container .small-box--1__title, .container .small-box--2__title, .container .small-box--3__title {
  transform: scale(1);
  transition: all 0.3s;
}

/* line 89, C:/Users/Josue/Desktop/gridlocked/sass/_layout.scss */
.container .small-box--1:hover, .container .small-box--2:hover, .container .small-box--3:hover {
  transform: scale(0.9);
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  border-radius: 5%;
}

/* line 98, C:/Users/Josue/Desktop/gridlocked/sass/_layout.scss */
.container .small-box--1:hover h2,
.container .small-box--2:hover h2,
.container .small-box--3:hover h2 {
  transform: scale(1.5);
  color: rgba(255, 255, 255, 0.9);
}

/* line 117, C:/Users/Josue/Desktop/gridlocked/sass/_layout.scss */
.container .sidebar {
  background-image: url("https://images.pexels.com/photos/922470/pexels-photo-922470.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  grid-column: 4 / 5;
  grid-row: 2 / 4;
}

/* line 123, C:/Users/Josue/Desktop/gridlocked/sass/_layout.scss */
.container .main {
  background-image: url("https://images.pexels.com/photos/413793/pexels-photo-413793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  grid-column: 1 / span 3;
}

/* line 129, C:/Users/Josue/Desktop/gridlocked/sass/_layout.scss */
.container .footer {
  background-image: url("https://images.pexels.com/photos/206563/pexels-photo-206563.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  grid-column: 1 / -1;
}

/*
- phone
- tab-port
- tab-land 
- big-desktop 
*/

/*# sourceMappingURL=../css/main.map */