* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: black;
  font-family: 'Lora', serif; }
  @media (max-width: 600px) {
    html {
      font-size: 37.5%; } }

.container {
  background-color: #000;
  display: block;
  margin: 0 auto;
  width: 100%;
  color: white;
  display: grid;
  grid-gap: 2.5rem;
  text-align: center;
  grid-template-columns: repeat(3, 1fr) 20%;
  grid-template-rows: 30rem 25rem 55rem 30rem;
  grid-template-areas: 'head head head head' 'box-1 box-2 box-3 side' 'main main main side' 'foot foot foot foot'; }
  .container > * {
    background-size: cover;
    background-position: center; }
  .container .header {
    grid-area: head;
    background-image: url("https://images.pexels.com/photos/681987/pexels-photo-681987.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    display: flex; }
    .container .header__title {
      color: rgba(255, 255, 255, 0.5);
      text-transform: uppercase;
      padding: 2rem;
      text-align: center;
      transform: skew(0);
      align-items: center;
      display: flex;
      justify-content: center;
      transition: all 0.3s;
      font-size: 7rem; }
      @media (max-width: 600px) {
        .container .header__title {
          font-size: 2rem !important; } }
    .container .header__title:hover {
      transform: skew(10deg);
      font-size: 9.25rem; }
  .container .small-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5); }
    .container .small-box--1 {
      background-image: url("https://images.pexels.com/photos/573298/pexels-photo-573298.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      grid-area: box-1; }
    .container .small-box--2 {
      background-image: url("https://images.pexels.com/photos/1081685/pexels-photo-1081685.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      grid-area: box-2; }
    .container .small-box--3 {
      background-image: url("https://images.pexels.com/photos/206527/pexels-photo-206527.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      grid-area: box-3; }
    .container .small-box--1, .container .small-box--2, .container .small-box--3 {
      transform: scale(1);
      transition: all 0.3s;
      -webkit-filter: grayscale(0);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0); }
      .container .small-box--1__title, .container .small-box--2__title, .container .small-box--3__title {
        transform: scale(1);
        transition: all 0.3s; }
    .container .small-box--1:hover, .container .small-box--2:hover, .container .small-box--3:hover {
      transform: scale(0.9);
      -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      border-radius: 5%; }
    .container .small-box--1:hover h2,
    .container .small-box--2:hover h2,
    .container .small-box--3:hover h2 {
      transform: scale(1.5);
      color: rgba(255, 255, 255, 0.9); }
  .container .sidebar {
    grid-area: side;
    background-image: url("https://images.pexels.com/photos/922470/pexels-photo-922470.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); }
  .container .main {
    background-image: url("https://images.pexels.com/photos/413793/pexels-photo-413793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    grid-area: main; }
  .container .footer {
    grid-area: foot;
    background-image: url("https://images.pexels.com/photos/206563/pexels-photo-206563.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); }

/*
- phone
- tab-port
- tab-land 
- big-desktop 
*/
.bg-video__content {
  width: 100%; }

.video-header {
  z-index: 99;
  margin: 10rem auto;
  width: 100%;
  display: block;
  color: #fff;
  font-size: 7rem; }

.head-text {
  text-align: center;
  margin: 0 auto; }

.heading-secondary {
  text-align: center; }
