.container {
  background-color: $black;
  display: block;
  margin: 0 auto;
  width: 100%;
  color: white;
  // font-size: 30px;
  display: grid;
  grid-row-gap: 20px;
    grid-column-gap: 20px;
  text-align: center;

  & > * {
    background-size: cover;
    background-position: center;
  }

  grid-template-columns: repeat(3, 1fr) 20%;
  grid-template-rows: 30rem 25rem 55rem 30rem;

  .header {
    // grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-image: url('https://images.pexels.com/photos/681987/pexels-photo-681987.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    display: flex;

    &__title {
      color: $trans-white;
      text-transform: uppercase;
      padding: 2rem;
      text-align: center;
      // background-image: to right(gradient());
      transform: skew(0);
      align-items: center;
      display: flex;
      justify-content: center;
      transition: all .3s;


    }

    &__title:hover {
      transform: skew(10deg);
      font-size: 9.25rem;
    }
  }

  .small-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $trans-white;



    &--1 {
      grid-column: 1 / 2;
      background-image: url("https://images.pexels.com/photos/573298/pexels-photo-573298.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    }

    &--2 {
      grid-column: 2 / 3;
      background-image: url("https://images.pexels.com/photos/1081685/pexels-photo-1081685.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    }

    &--3 {
      grid-column: 3 / 4;
      background-image: url("https://images.pexels.com/photos/206527/pexels-photo-206527.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    }
    &--1, &--2, &--3 {
      transform: scale(1);
      transition: all .3s;
      -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
      filter: grayscale(0);




      &__title {
        transform: scale(1);
        transition: all .3s;
      }

      // &__title:hover {
      //   transform: scale(1.25);
      //
      // }


    }

    &--1:hover, &--2:hover, &--3:hover  {
      transform: scale(.9);
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      border-radius: 5%;
    }

    &--1:hover h2, &--2:hover h2, &--3:hover h2 {
      transform: scale(1.5);
      color: rgba(255,255,255,.9);
    }


    // &--2{
    //   background-image: url("https://images.pexels.com/photos/1081685/pexels-photo-1081685.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    //         grid-column: 1fr;
    //
    // }
    // &--3{
    //   background-image: url('https://images.pexels.com/photos/206527/pexels-photo-206527.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    //         grid-column: 1fr;
    //
    // }
  }

  .sidebar {
    background-image: url('https://images.pexels.com/photos/922470/pexels-photo-922470.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    grid-column: 4 / 5;
    grid-row: 2 / 4;
  }

  .main {
    background-image: url("https://images.pexels.com/photos/413793/pexels-photo-413793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    grid-column: 1 / span 3;
    // grid-row: 3 / 5
  }

  .footer {
    background-image: url('https://images.pexels.com/photos/206563/pexels-photo-206563.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    grid-column: 1 / -1;
  }
}
